<div class="card">
    <div class="card-block">
        <h1 class="card-title">Resend confirmation instructions</h1>

        <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 

        <%= f.submit "Resend confirmation instructions" %>
    <% end %>
    </div>
</div>

<%= render "devise/shared/links" %>
