<div class="card">
    <div class="card-block">
        <h1 class="card-title">Forgot your password?</h1>

        <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

        <%= f.email_field :email, autofocus: true %>

        <%= f.submit "Send me reset password instructions" %>
    <% end %>
    </div>
</div>

<%= render "devise/shared/links" %>
