<div class="card">
    <div class="card-block">
        <h4 class="card-title">Contribute</h4>
        <button class="btn btn-primary btn-large">Review a game</button>
        <%= link_to "Submit a game", new_game_path, class: "btn btn-primary btn-large", role:"button" %>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Browse</h4>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all-games" role="tab">All games</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#my-games" role="tab">My games</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="all-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Black</th>
                            <th>White</th>
                            <th>Review Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <% if @all.empty? %>
                    <tr><td colspan="4"><p>There are no games yet... be the first to <%= link_to "submit one", new_game_path %>!</p></td></tr>
                    <% end %>
                        <% @all.each do |game| %>
                            <tr>
                                <td><%= present_black_player(game) %></td>
                                <td><%= present_white_player(game) %></td>
                                <td><%= game_subtitle(game) %></td>
                                <td>
                                    <ul>
                                        <li><%= link_to "Game details", game_url(game) %></li>
                                        <% game.reviews.each do |review| %>
                                            <li><%= link_to "Review by #{review.reviewer_name}", game_review_url(game, review) %></li>
                                        <% end %>
                                    </ul>
                                </td>
                            </tr>
                        <% end %>
                </table>
            </div>
            <div class="tab-pane" id="my-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Black</th>
                            <th>White</th>
                            <th>Review Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tr><td colspan="4">
                    <%= link_to "Submit a game for review", new_game_path, class: "btn btn-secondary", role: "button" %>
                   </td></tr>
                </table>

            </div>
        </div>
    </div>
</div>
