<div class="card">
    <div class="card-block">
        <h4 class="card-title">Contribute</h4>
        <%= link_to "Review a game", review_a_game_path, role: "button", class: "btn btn-primary btn-large" %>
        <%= link_to "Submit a game", new_game_path, class: "btn btn-primary btn-large", role:"button" %>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Browse</h4>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all-games" role="tab">All games</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#my-games" role="tab">My games</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="all-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Black</th>
                            <th>White</th>
                            <th>Review Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <% if @all.empty? %>
                    <tr><td colspan="4"><p>There are no games yet... be the first to <%= link_to "submit one", new_game_path %>!</p></td></tr>
                    <% end %>
                    <%= render partial: "game_list", locals: {games: @all} %>
                </table>
            </div>
            <div class="tab-pane" id="my-games" role="tabpanel">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Black</th>
                            <th>White</th>
                            <th>Review Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <%= render partial: "game_list", locals: {games: @mine} %>
                    <tr><td colspan="4">
                    <%= link_to "Submit a game for review", new_game_path, class: "btn btn-secondary", role: "button" %>
                   </td></tr>
                </table>

            </div>
        </div>
    </div>
</div>
