<div class="card">
    <div class="card-block">
        <h1 class="card-title"><%= game_title(@game) %><br><small><%= game_subtitle(@game) %></small></h1>
        <p>

        <%= link_to "Agree to review", new_game_review_path(@game), class: "btn btn-primary btn-large", role: "button" %>
        <a class="btn btn-secondary btn-large" href="<%= sgf_game_path %>">Download game SGF</a>
        <a class="btn btn-secondary btn-large" href="#">Upload review SGF</a>
        </p>

        <h3 class="card-title">Reviews</h3>
        <% if @in_progress.present? || @completed.present? %>
        <ul>
        <% (@in_progress + @completed).each do |review| %>
            <li><%= review.user.display_name %></li>
        <% end %>
        </ul>
        <% else %>
        <p>No reviews yet...</p>
        <% end %>
    </div>
</div>
