<div class="card-group">
<div class="card">
    <div class="card-block">
    <h1 class="card-title">Log in</h1>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>

  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
  <% end -%>

    <%= f.submit "Log in" %>
<% end %>
</div>
</div>
</div>

<div class="card-group">
<%= render "devise/shared/links" %>
</div>
